*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

p {
  margin-bottom: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Jost", sans-serif !important; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 576px) {
    html {
      font-size: 42%; } }

.container {
  padding-left: 0rem;
  padding-right: 0rem; }

ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important; }

.mt-big {
  margin-top: 3rem !important; }

.mb-big {
  margin-bottom: 12rem !important; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.bold {
  font-weight: 700; }

.active {
  color: #fff;
  font-size: 3rem;
  position: fixed;
  top: 12rem;
  height: auto;
  padding: 0 0 0 2rem;
  width: 91%;
  z-index: 20;
  list-style: none;
  background-color: #1d1c1e;
  display: -webkit-flex;
  display: flex !important;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0; }
  @media only screen and (max-width: 576px) {
    .header {
      padding: 6rem 3rem; } }
  .header-logo {
    width: 22rem;
    height: 3rem; }
  .header-burger {
    display: none; }
    @media only screen and (max-width: 576px) {
      .header-burger {
        display: block; } }
  .header-menu {
    display: none;
    border-radius: 1.5rem;
    transition: all 0.3s; }
    .header-menu-li {
      padding: 2rem; }
    .header-menu-item {
      color: #fff;
      text-decoration: none; }

@media only screen and (max-width: 576px) {
  .navigation {
    display: none; } }

.navigation-list {
  display: flex;
  gap: 5rem; }

.navigation-link {
  text-decoration: none;
  font-size: 1.7rem;
  color: #1d1c1e; }
  .navigation-link:hover, .navigation-link:active {
    color: #e7816b; }

.navigation-item {
  list-style: none; }
  .navigation-item:hover, .navigation-item:active {
    transform: scale(1.1) !important;
    transition: all 0.2s; }

.hero {
  background-color: #e7816b;
  display: grid;
  grid-template-columns: 55% 45%;
  border-radius: 1.5rem;
  height: 70rem;
  overflow: hidden;
  background-image: url(../../img/home/desktop/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 55%; }
  @media only screen and (max-width: 992px) {
    .hero {
      display: flex;
      flex-direction: column;
      height: 90rem;
      background-position: right center;
      background-size: 75%; } }
  @media only screen and (max-width: 576px) {
    .hero {
      border-radius: 0; } }
  .hero-left {
    padding: 15rem 0 15rem 15rem; }
    @media only screen and (max-width: 992px) {
      .hero-left {
        padding: 7rem 19rem 2rem 19rem;
        text-align: center; } }
    @media only screen and (max-width: 768px) {
      .hero-left {
        padding: 7rem 4rem 2rem 4rem; } }
  .hero-right {
    position: relative; }
    @media only screen and (max-width: 992px) {
      .hero-right-img {
        position: absolute;
        top: -10rem;
        width: 60%;
        left: 19%;
        display: flex;
        justify-content: center; } }
    @media only screen and (max-width: 768px) {
      .hero-right-img {
        position: absolute;
        top: -12rem;
        width: 84%;
        left: 8%;
        display: flex;
        justify-content: center; } }
    @media only screen and (max-width: 576px) {
      .hero-right-img {
        top: -13rem;
        width: 90%;
        left: 4%; } }
  .hero-main-heading {
    color: #fff;
    font-size: 5rem; }
  .hero-text {
    font-size: 2.2rem;
    color: #fff;
    opacity: 0.8; }
    @media only screen and (max-width: 768px) {
      .hero-text {
        width: 80%;
        margin: 0 auto; } }

.design-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2.5rem;
  column-gap: 3rem;
  height: 70rem;
  color: #fff; }
  @media only screen and (max-width: 992px) {
    .design-container {
      grid-template-columns: auto;
      grid-template-rows: auto; } }
  @media only screen and (max-width: 576px) {
    .design-container {
      grid-template-rows: repeat(3, 35rem); } }

.design-web {
  background-image: url(../../img/home/desktop/image-web-design-large.jpg);
  grid-column: 1/2;
  grid-row: 1/3; }
  @media only screen and (max-width: 992px) {
    .design-web {
      grid-row: auto;
      background-image: url(../../img/home/tablet/image-web-design.jpg); } }
  @media only screen and (max-width: 576px) {
    .design-web {
      background-image: url(../../img/home/mobile/image-web-design.jpg); } }

.design-app {
  background-image: url(../../img/home/desktop/image-app-design.jpg); }
  @media only screen and (max-width: 992px) {
    .design-app {
      background-image: url(../../img/home/tablet/image-app-design.jpg); } }
  @media only screen and (max-width: 576px) {
    .design-app {
      background-image: url(../../img/home/mobile/image-app-design.jpg); } }

.design-graphic {
  background-image: url(../../img/home/desktop/image-graphic-design.jpg); }
  @media only screen and (max-width: 992px) {
    .design-graphic {
      background-image: url(../../img/home/tablet/image-graphic-design.jpg); } }
  @media only screen and (max-width: 576px) {
    .design-graphic {
      background-image: url(../../img/home/mobile/image-graphic-design.jpg); } }

.design-card {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 1.5rem;
  flex-direction: column; }
  @media only screen and (max-width: 576px) {
    .design-card {
      margin: 0 3rem;
      border-radius: 2.5rem; } }
  .design-card-heading {
    font-size: 4rem; }
  .design-card-link {
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none; }
    .design-card-link::after {
      content: url(../../img/shared/desktop/icon-right-arrow.svg);
      color: #e7816b;
      margin-left: 1.5rem; }
    .design-card-link:hover, .design-card-link:active {
      color: #e7816b;
      transform: scale(1.1);
      transition: all 0.2s; }

.description-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem; }
  @media only screen and (max-width: 992px) {
    .description-container {
      grid-template-columns: auto; } }
  @media only screen and (max-width: 576px) {
    .description-container {
      margin-top: 50rem; } }

.description-card {
  text-align: center; }
  @media only screen and (max-width: 992px) {
    .description-card {
      display: flex; } }
  @media only screen and (max-width: 576px) {
    .description-card {
      flex-direction: column; } }
  @media only screen and (max-width: 992px) {
    .description-card-bottom {
      text-align: left;
      margin-top: 5rem;
      margin-left: 4rem; } }
  @media only screen and (max-width: 576px) {
    .description-card-bottom {
      text-align: center;
      margin: 0; } }
  .description-card-heading {
    font-size: 2rem;
    margin-top: 3rem; }
    @media only screen and (max-width: 576px) {
      .description-card-heading {
        margin-bottom: 3rem;
        font-size: 2.5rem; } }
  .description-card-text {
    font-size: 1.5rem;
    width: 84%;
    margin: 3rem auto; }
    @media only screen and (max-width: 992px) {
      .description-card-text {
        margin: 0;
        margin-top: 2rem; } }
    @media only screen and (max-width: 576px) {
      .description-card-text {
        margin: 0 auto;
        font-size: 1.8rem; } }

.about-container {
  color: #fff; }

.about-first {
  background-color: #e7816b;
  display: grid;
  grid-template-columns: 5fr 3fr;
  height: auto;
  border-radius: 1.5rem;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .about-first {
      display: flex;
      flex-direction: column-reverse; } }
  @media only screen and (max-width: 576px) {
    .about-first {
      border-radius: 0; } }
  .about-first-heading {
    font-size: 4.5rem;
    margin-bottom: 3rem; }
  .about-first-text {
    font-size: 1.6rem; }
  .about-first-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12rem; }
    @media only screen and (max-width: 768px) {
      .about-first-left {
        padding: 6rem; } }
  .about-first-right {
    background-image: url(../../img/about/desktop/image-about-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .about-first-right {
        background-image: url(../../img/about/tablet/image-about-hero.jpg);
        height: 30rem; } }
    @media only screen and (max-width: 576px) {
      .about-first-right {
        background-image: url(../../img/about/mobile/image-about-hero.jpg); } }

.about-second {
  background-color: #fdf3f0;
  display: grid;
  grid-template-columns: 3fr 5fr;
  height: auto;
  border-radius: 1.5rem;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .about-second {
      display: flex;
      flex-direction: column; } }
  @media only screen and (max-width: 576px) {
    .about-second {
      border-radius: 0; } }
  .about-second-heading {
    font-size: 4.5rem;
    margin-bottom: 3rem;
    color: #e7816b; }
  .about-second-text {
    font-size: 1.6rem;
    color: #727272; }
  .about-second-left {
    background-image: url(../../img/about/desktop/image-world-class-talent.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .about-second-left {
        background-image: url(../../img/about/tablet/image-world-class-talent.jpg);
        height: 30rem; } }
    @media only screen and (max-width: 576px) {
      .about-second-left {
        background-image: url(../../img/about/mobile/image-world-class-talent.jpg); } }
  .about-second-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12rem; }
    @media only screen and (max-width: 768px) {
      .about-second-right {
        padding: 6rem; } }

.about-third {
  background-color: #fdf3f0;
  display: grid;
  grid-template-columns: 5fr 3fr;
  height: auto;
  border-radius: 1.5rem;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .about-third {
      display: flex;
      flex-direction: column-reverse; } }
  @media only screen and (max-width: 576px) {
    .about-third {
      border-radius: 0; } }
  .about-third-heading {
    font-size: 4.5rem;
    margin-bottom: 3rem;
    color: #e7816b; }
  .about-third-text {
    font-size: 1.6rem;
    color: #727272; }
  .about-third-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12rem; }
    @media only screen and (max-width: 768px) {
      .about-third-left {
        padding: 6rem; } }
  .about-third-right {
    background-image: url(../../img/about/desktop/image-real-deal.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .about-third-right {
        background-image: url(../../img/about/tablet/image-real-deal.jpg);
        height: 30rem; } }
    @media only screen and (max-width: 576px) {
      .about-third-right {
        background-image: url(../../img/about/mobile/image-real-deal.jpg); } }

.locations-container {
  display: grid;
  grid-gap: 3rem; }

.locations-box {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden; }
  @media only screen and (max-width: 992px) {
    .locations-box {
      display: flex;
      flex-direction: column;
      grid-gap: 0; } }
  @media only screen and (max-width: 992px) {
    .locations-box-reverse {
      flex-direction: column-reverse; } }
  .locations-box-text-ca {
    padding: 11rem;
    grid-column: 1/3;
    justify-self: center;
    background-color: #fdf3f0;
    width: 100%;
    border-radius: 1.5rem; }
    @media only screen and (max-width: 576px) {
      .locations-box-text-ca {
        padding: 6rem;
        border-radius: 0; } }
  .locations-box-text-au {
    padding: 11rem;
    grid-column: 2/4;
    justify-self: center;
    background-color: #fdf3f0;
    width: 100%;
    border-radius: 1.5rem; }
    @media only screen and (max-width: 576px) {
      .locations-box-text-au {
        padding: 6rem;
        border-radius: 0; } }
  .locations-box-text-uk {
    padding: 11rem;
    grid-column: 1/3;
    justify-self: center;
    background-color: #fdf3f0;
    width: 100%;
    border-radius: 1.5rem; }
    @media only screen and (max-width: 576px) {
      .locations-box-text-uk {
        padding: 6rem;
        border-radius: 0; } }
  .locations-box-heading {
    color: #e7816b;
    font-size: 3.5rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 576px) {
      .locations-box-heading {
        text-align: center; } }
  .locations-box-address {
    display: flex;
    gap: 4rem;
    font-size: 1.8rem; }
    @media only screen and (max-width: 576px) {
      .locations-box-address {
        flex-direction: column;
        text-align: center; } }
  .locations-box-map-ca {
    background-image: url(../../img/locations/desktop/image-map-canada.png);
    grid-column: 3/4;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem; }
    @media only screen and (max-width: 992px) {
      .locations-box-map-ca {
        height: 40rem;
        width: 100%;
        border-radius: 0; } }
  .locations-box-map-au {
    background-image: url(../../img/locations/desktop/image-map-australia.png);
    grid-column: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem; }
    @media only screen and (max-width: 992px) {
      .locations-box-map-au {
        height: 40rem;
        width: 100%;
        border-radius: 0; } }
  .locations-box-map-uk {
    background-image: url(../../img/locations/desktop/image-map-united-kingdom.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem; }
    @media only screen and (max-width: 992px) {
      .locations-box-map-uk {
        height: 40rem;
        width: 100%;
        border-radius: 0; } }

.contact-container {
  background-color: #e7816b;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fff;
  background-image: url(../../img/contact/desktop/bg-pattern-hero-desktop.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 55%; }
  @media only screen and (max-width: 768px) {
    .contact-container {
      background-image: url(../../img/contact/mobile/bg-pattern-hero-contact-mobile.svg);
      grid-template-columns: auto;
      background-position: top left;
      background-size: 86%; } }
  .contact-container-left {
    padding: 7rem 0 7rem 7rem;
    align-self: center; }
    @media only screen and (max-width: 768px) {
      .contact-container-left {
        padding: 5rem;
        text-align: center; } }
    .contact-container-left-heading {
      font-size: 4.5rem;
      margin-bottom: 3rem; }
    .contact-container-left-text {
      font-size: 1.8rem; }

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 6rem 9rem;
  font-size: 1.9rem; }
  @media only screen and (max-width: 768px) {
    .contact-form {
      padding: 5rem; } }
  .contact-form input,
  .contact-form textarea {
    background-color: #e7816b;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0 0 1rem 1.5rem;
    margin-bottom: 1.5rem;
    color: #fff; }
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #f0ecec; }

.contact-btn {
  width: 30%;
  align-self: flex-end; }

.footer {
  background-color: #1d1c1e;
  padding: 15rem 0 6rem 0; }
  @media only screen and (max-width: 576px) {
    .footer {
      padding: 29rem 0 6rem 0; } }
  .footer-container-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333136;
    padding-bottom: 4rem; }
    @media only screen and (max-width: 576px) {
      .footer-container-top {
        flex-direction: column;
        align-items: center;
        border: none; } }
  .footer-container-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem; }
    @media only screen and (max-width: 576px) {
      .footer-container-bottom {
        align-items: center;
        gap: 4rem;
        flex-direction: column; } }
    .footer-container-bottom p {
      color: #fff;
      opacity: 0.5;
      font-size: 1.4rem; }
    .footer-container-bottom-social {
      align-self: flex-end; }
      @media only screen and (max-width: 576px) {
        .footer-container-bottom-social {
          align-self: auto; } }
    .footer-container-bottom-location {
      text-align: center; }
    .footer-container-bottom-contact {
      text-align: center; }
  .footer-logo {
    width: 22rem;
    height: 3rem; }
    @media only screen and (max-width: 576px) {
      .footer-logo {
        margin-bottom: 2rem; } }
  .footer-nav {
    display: flex;
    gap: 4rem; }
    .footer-nav-link {
      text-decoration: none; }
    @media only screen and (max-width: 576px) {
      .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 2rem; } }
    .footer-nav-social {
      display: flex;
      gap: 1rem;
      list-style: none;
      align-self: end; }
      .footer-nav-social-item:hover, .footer-nav-social-item:active {
        transform: scale(1.1);
        transition: all 0.2s;
        cursor: pointer; }
    .footer-nav-item {
      color: #fff;
      list-style: none;
      font-size: 1.6rem;
      cursor: pointer;
      font-weight: 400;
      opacity: 0.8; }
      .footer-nav-item:hover, .footer-nav-item:active {
        color: #e7816b;
        transform: scale(1.1) !important;
        transition: all 0.2s;
        opacity: 1; }

.btn {
  font-size: 1.6rem;
  background-color: #fff;
  padding: 1.5rem 2.3rem;
  border-radius: 1rem;
  border: none; }
  .btn:hover, .btn:active {
    background-color: #ece9e9;
    transform: scale(1.1);
    transition: all 0.2s; }

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7816b;
  padding: 8rem 10rem;
  border-radius: 1.5rem;
  background-image: url(../../img/shared/desktop/bg-pattern-call-to-action.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 65%;
  margin-bottom: -8rem;
  position: relative; }
  @media only screen and (max-width: 992px) {
    .action-container {
      flex-direction: column;
      text-align: center;
      background-position: left;
      background-size: 120%;
      padding: 5rem 10rem; } }
  @media only screen and (max-width: 576px) {
    .action-container {
      margin: 0 4rem -18rem 4rem;
      padding: 5rem 4rem; } }

.action-text-heading {
  font-size: 4.5rem;
  width: 40%;
  color: #fff;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 992px) {
    .action-text-heading {
      width: 100%; } }

.action-text-paragraph {
  font-size: 1.7rem;
  width: 64%;
  color: #fff; }
  @media only screen and (max-width: 992px) {
    .action-text-paragraph {
      width: 100%; } }

.loc-grid-container {
  display: flex;
  justify-content: center;
  gap: 15rem; }
  @media only screen and (max-width: 992px) {
    .loc-grid-container {
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 768px) {
    .loc-grid-container {
      gap: 10rem; } }
  @media only screen and (max-width: 576px) {
    .loc-grid-container {
      gap: 5rem; } }

.loc-grid-card {
  display: flex;
  flex-direction: column; }

.loc-grid-btn {
  background-color: #e7816b;
  color: #fff; }
