.description {
  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: auto;
    }

    @media only screen and (max-width: $bp-small) {
      margin-top: 50rem;
    }
  }

  &-card {
    text-align: center;

    @media only screen and (max-width: $bp-large) {
      display: flex;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }

    &-bottom {
      @media only screen and (max-width: $bp-large) {
        text-align: left;
        margin-top: 5rem;
        margin-left: 4rem;
      }

      @media only screen and (max-width: $bp-small) {
        text-align: center;
        margin: 0;
      }
    }

    &-heading {
      font-size: 2rem;
      margin-top: 3rem;

      @media only screen and (max-width: $bp-small) {
        margin-bottom: 3rem;
        font-size: 2.5rem;
      }
    }

    &-text {
      font-size: 1.5rem;
      width: 84%;
      margin: 3rem auto;

      @media only screen and (max-width: $bp-large) {
        margin: 0;
        margin-top: 2rem;
      }

      @media only screen and (max-width: $bp-small) {
        margin: 0 auto;
        font-size: 1.8rem;
      }
    }
  }
}
