.footer {
  background-color: #1d1c1e;
  padding: 15rem 0 6rem 0;

  @media only screen and (max-width: $bp-small) {
    padding: 29rem 0 6rem 0;
  }

  &-container {
    &-top {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #333136;
      padding-bottom: 4rem;

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        align-items: center;
        border: none;
      }
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      padding-top: 4rem;

      @media only screen and (max-width: $bp-small) {
        align-items: center;
        gap: 4rem;
        flex-direction: column;
      }

      & p {
        color: #fff;
        opacity: 0.5;
        font-size: 1.4rem;
      }

      &-social {
        align-self: flex-end;

        @media only screen and (max-width: $bp-small) {
          align-self: auto;
        }
      }

      &-location {
        text-align: center;
      }

      &-contact {
        text-align: center;
      }
    }
  }

  &-logo {
    width: 22rem;
    height: 3rem;

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 2rem;
    }
  }

  &-nav {
    display: flex;
    gap: 4rem;

    &-link {
      text-decoration: none;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    &-social {
      display: flex;
      gap: 1rem;
      list-style: none;
      align-self: end;

      &-item:hover,
      &-item:active {
        transform: scale(1.1);
        transition: all 0.2s;
        cursor: pointer;
      }
    }
    &-item {
      color: #fff;
      list-style: none;
      font-size: 1.6rem;
      cursor: pointer;
      font-weight: 400;
      opacity: 0.8;

      &:hover,
      &:active {
        color: #e7816b;
        transform: scale(1.1) !important;
        transition: all 0.2s;
        opacity: 1;
      }
    }
  }
}
